*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mina', sans-serif;
} /*tamanho padrão em qualquer navegador*/

body{
    background: url("./img/fundo.jpg");
}

img{
    height: 25px;
    opacity: 0;
}

.lista{
    background-color:rgba(183, 114, 248, 0.74);
    width: 500px;
    border-radius: 15px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}

.input{
    border: none;
    border-radius: 15px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
}

.button{
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color:rgba(76, 0, 130, 0.795);
    color: white;
    font-size: 17px;
    padding: 0 15px;
    font-weight: 600;
}

.button:hover{
    opacity: 0.9;
} /*muda a cor do botão ao passar com o cursor em cima*/

.button:active{
    opacity: 0.6;
} /*muda a cor do botão ao clicar*/

.texto-lista{
    width: 100%;
    list-style: none;
    margin-top: 30px;
}

.item{
    background-color: white;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 15px;
    border-radius: 10px;
    margin-bottom: 20px;

}

.item:hover img{
    opacity: 1;
} /*mostra os ícones ao passar o cursor por cima*/